body {
    height: 100vh;
    margin: 0;
    background-color: rgb(239, 239, 239);;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



#resultname{
    font-size: 1em;
    color: rgb(62, 62, 62);
  }

  .resultH1{
    position: relative;
    top:12vh;
    text-align: center;
}

.result{
    position: relative;
    top:13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.resultContainer{
    position: relative;
    width:70%;
    height: 70vh;
    border:0px solid rgba(106, 104, 104, 0.6);
    border-radius: 20px;
    background-color: white;
    text-align: center;
}

.healthinfoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:70%;
    border:0px solid rgba(106, 104, 104, 0.6);
    border-radius: 20px;
    background-color: white;
    text-align: center;
}

.healthinfoContainer p{
    font-size: 1.3em;
    font-weight: 700;
    color: rgb(62, 62, 62);
    line-height: 200%;
}

.healthinfoContainer .notNormal{
    font-size: 1em;
    font-weight: 700;
    color: rgb(18, 99, 239);
}

.healthinfoContainer .danger{
    font-size: 1em;
    font-weight: 700;
    color: rgb(235, 73, 73);
}

#foot {
    font-size: smaller;
    border-top: 1px solid hsl(0, 1%, 72%);
    border-bottom: 0px;
    position: relative;
    top:17vh;
    width: 98%;
    z-index: 10;
    line-height: 20px;
    padding: 13px;
    text-align: center;
    background-color: rgb(246, 248, 249);
    box-shadow: 1px 1px 5px rgb(181, 179, 179);
}